__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/
coverage.xml

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.ipynb_checkpoints/

.env
.env.*
!.env.example
